@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Edu+NSW+ACT+Foundation&family=Montserrat:wght@400;600&family=Roboto:ital@1&family=Rubik+Distressed&family=Ubuntu&display=swap');

body {
  background-color: #1e1e1e;
  margin-bottom: 150px;
}

.text4All {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  color: #fff;
}

.allContent {
  display: flex;
  flex-wrap: nowrap;
}

.column1 img {
  width: 3028px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.column2 {
  margin-left: 300px;
}

/* 1 pic */
.panarama-view-container {
  display: block;
  height: 810px;
  width: 1440px;
  margin-top: 600px;
  margin-bottom: 220px;
}

.panarama-view {
  display: flex;
  position: relative;
  justify-content: center;
  background-repeat: no-repeat;
  height: 810px;
  width: 1440px;
  margin: 0;
}

.panarama-img {
  margin: auto;
  width: 1251px;
  height: 642px;
  border: 2px solid #1e1e1e;
}

#panaramaClose {
  right: 55px;
  top: 50px;
}

/*  2 Pic   */
.modal-main {
  position: relative;
  height: 983px;
  width: 2600px;
}

.main-img {
  width: 1440px;
  height: 810px;
  opacity: 0.8;
  margin-top: 0;
  margin-left: 980px;
  background-color: black;
}

/* active elements */
#map360M1 {
  position: absolute;
  height: 25px;
  width: 131px;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  padding: 0;
  right: 770px;
  top: 180px;
  border: 1px solid #1e1e1e;
}

#btn-brochure {
  position: absolute;
  background-repeat: no-repeat;
  height: 44px;
  width: 310px;
  margin: 0;
  border: 0;
  padding: 0;
  left: 1050px;
  bottom: 200px;
  border: 1px solid #1e1e1e;
}

/* BUTTONS  */
.buttonHover:hover {
  filter: brightness(0.85);
}

.buttonAct:active {
  transform: translateY(2px);
  box-shadow: 2px solid #bdbdbd;
}

/* Logo-Type */
.logoType {
  position: absolute;
  left: 1010px;
  top: 28px;
}

.logo-table {
  border-collapse: collapse;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 44px;
  width: 1380px;
  padding: 0;
}

.logo-table td:nth-child(1) {
  width: 292px;
}

.logo-table img {
  margin-bottom: 5px;
}

.logo-table td:nth-child(2) {
  width: 790px;
}

.logo-table td:nth-child(3) {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 85px;
}

.logo-table td:nth-child(4) {
  padding-left: 15px;
}

.logo-table td:not(.logo-table td:nth-child(1)) {
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}

/* Modal Brochure */
/* Left part */
.form-info {
  display: flex;
  position: relative;
  width: 1440px;
  height: 810px;
  background-color: #000;
}

.form-modal {
  -webkit-overflow-scrolling: touch;
  display: flex;
  margin: auto;
  background-repeat: no-repeat;
  height: 440px;
  width: 914px;
}

#brochureClose {
  right: 260px;
  top: 150px;
}

.form-modal-txt {
  display: flex;
  position: relative;
  margin: 0;
  height: 440px;
  width: 520px;
}

.b-text1 {
  position: absolute;
  left: 70px;
  top: 90px;
}

.b-text2 {
  position: absolute;
  left: 28px;
  top: 205px;
}

.B-contacts {
  display: flex;
  width: 261px;
  justify-content: space-between;
  margin: auto;
  margin-left: 80px;
  margin-bottom: 75px;
}

/* Right part */
.form-and-Input {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 38px 30px 0 30px;
  height: 400px;
  width: 460px;
  background-color: black;
}

.form-input-elt {
  width: 397px;
  height: 260px;
  margin: 0;
  padding: 0;
}

.form-input-elt input {
  width: 100%;
  height: 36px;
  color: white;
  border: 0;
  margin: 0;
  margin-top: 40px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  background-color: black;
}

.form-input-elt input:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.form-and-Input button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  margin-bottom: 60px;
}

/* Modal Window Brochure */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* Close cross-buttons */
.close-modal {
  display: flex;
  position: absolute;
  width: 22px;
  height: 22px;
}

.close-modal:hover {
  border: 2px solid #13a6fc;
}
